guidelines.md
*.pdb
*.tpr
*.xvg
*.edr
*.gro
*.log
*.json
*.zip
*.cpt
*.bk
*.trr
*.offsets
*.xtc
\#*.*\#
log*.*
!logo.png
.ipynb_checkpoints/
biobb_wf_md_setup_membrane/notebooks/*/
biobb_wf_md_setup_membrane/notebooks/*/*.web.ipynb
biobb_wf_md_setup_membrane/notebooks/*/*.docs.ipynb
biobb_wf_md_setup_membrane/notebooks/*/*.png